body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.navbar {
  background-color: #a6e3f9;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar-brand img {
  margin-left: 40px;
  height: 105px;
  width: 205px;
}
.main-content {
  display: flex;
  width: 100%;
  flex-grow: 1;
  padding-top: 60px; /* Height of the navbar */
}
.left-sidebar, .right-sidebar {
  background-color: #a6e3f9;
  padding: 20px;
  overflow-y: auto;
  position: fixed;
  top: 60px; /* Height of the navbar */
  bottom: 0;
}
.left-sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.right-sidebar {
  width: 20%;
  right: 0;
  display: flex;
  flex-direction: column;
}
.content {
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  background-color: #f0f8ff;
  width: 100%;
  flex-grow: 1;
}
.btn-primary{
  margin-top: 50px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #8AE6FF !important;
  border: none !important;
  display: block;
}
.btn-danger{
  margin-top: 200px;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #FF577F !important;
}
.btn-danger:hover{
  color: white;
  background-color: #f7305e !important;
}
.receipt {
  background-color: #e7f7ff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.receipt p, h5{
  color: #FF577F;
}
.receipt button{
  align-self: flex-end; /* Align the button to the bottom of the receipt container */
  margin-top: auto;
}
.btn-light {
  margin-bottom: 20px;
  width: 100%;
  height: 58px;
  background-color: #8AE6FF !important;
  color: white !important;
  border-radius: 10px !important;
  border: none !important;
  font-weight: 500 !important;
}
.btn-light:hover{
  background-color: #66dbfb !important;
}
.btn-light:active{
  border: 1px solid #FF577F !important;
}

.left-sidebar .btn {
  display: block; /* Ensure the buttons are block elements */
}
.mb-3 {
  margin-bottom: 1rem; /* Adjust the spacing between buttons */
}
.order-container {
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
}
.order-container .form-row {
  display: flex;
  justify-content: space-between;
}
.order-container .form-row .form-group {
  flex: 1;
  margin-right: 10px;
}
.order-container .form-row .form-group:last-child {
  margin-right: 0;
}
.order-container .btn-order-add{
  width: 50px;
}
.order-container .btn-add {
  margin-left: 10px;
  margin-top: 32px;
  width: 50px;
}
.order-container .btn-remove {
  margin-top: 10px;
}
.order-container select {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}
.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}